<div class="jumbotron" style="border-radius: 0px; margin-bottom: 0px;" ng-hide="main.loggedIn">
    <div class="container-fluid">
        <div class="item slides">
            <div class="slide-3"></div>
            <div class="hero">
                <hgroup>
                    <h1>Learn & build</h1>
                    <h3 style="color: orange;">Study to show thyself approved</h3>
                </hgroup>
                <a href="/result" class="btn btn-primary btn-lg" role="button">Check Result</a>
            </div>
        </div>
        <img class="img2" src="assets/img/photo_1.jpg">
        <br />
        <!--BODY -->
        <section class="card" style="padding: 0 15px 0 15px;">
            <div class="row">
                <div class="col studentHeader">
                    Meet Our Students
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img class="studentImg" src="assets/img/img_avatar3.png">
                    <div style="text-align: center;">
                        <label>Student Name</label>
                    </div>

                    <p style="text-align: justify;">
                        Having the server-side code be separate lets us create multiple front-end client applications like websites, Android apps,
                        iPhone apps, and Windows apps that all connect to the same data. We can iterate on our server side
                        code and this will not affect our frontend code. We also see large companies like Facebook, Google,
                        Twitter, and GitHub using this method. They create the API and their frontend clients (website, mobile
                        applications, and third party applications) integrate with it. Fun Note: The practice of using your
                        own API to build a frontend client is called dogfooding³⁴ (one of my absolute favorite words).
                    </p>
                </div>
                <div class="col-md-6">
                    <img class="studentImg" src="assets/img/img_avatar4.png">
                    <div style="text-align: center;">
                        <label>Student Name</label>
                    </div>
                    <p style="text-align: justify;">
                        Having the server-side code be separate lets us create multiple front-end client applications like websites, Android apps,
                        iPhone apps, and Windows apps that all connect to the same data. We can iterate on our server side
                        code and this will not affect our frontend code. We also see large companies like Facebook, Google,
                        Twitter, and GitHub using this method. They create the API and their frontend clients (website, mobile
                        applications, and third party applications) integrate with it. Fun Note: The practice of using your
                        own API to build a frontend client is called dogfooding³⁴ (one of my absolute favorite words).
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col" style="text-align: justify;">
                    <p>
                        Having the server-side code be separate lets us create multiple front-end client applications like websites, Android apps,
                        iPhone apps, and Windows apps that all connect to the same data. We can iterate on our server side
                        code and this will not affect our frontend code. We also see large companies like Facebook, Google,
                        Twitter, and GitHub using this method. They create the API and their frontend clients (website, mobile
                        applications, and third party applications) integrate with it. Fun Note: The practice of using your
                        own API to build a frontend client is called dogfooding³⁴ (one of my absolute favorite words). Here
                        are the parts of our application separated as server and clien
                    </p>
                </div>
            </div>
        </section>

    </div>

</div>
<!-- FOOTER -->
<footer class="footer">
    <div class="container">
        <p class="float-right">
            <a href="/">Back to top</a>
        </p>
        <span>
            <ul class="float-left list-inline">
                <li>School Location:</li>
                <li>
                    <address>Amanse</address>
                </li>
            </ul>
        </span>
        <br />
        <br />
        <div>Copyright &copy ANEROBI INTERNATIONAL SCHOOL 2017</div>
    </div>
</footer>